n8n/workflows/pdf_processing.json
{"name":"PDF Processing to Summary and Editor Bot","nodes":[{"parameters":{"httpMethod":"POST","path":"pdf-post","responseMode":"onReceived","options":{}},"id":"webhook-pdf","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300]},{"parameters":{"operation":"executeQuery","query":"=SELECT EXISTS(SELECT 1 FROM posts WHERE source_channel = '{{ ($json.body?.source_channel ?? $json.source_channel ?? '').toString().replace(/\\x00/g, '').replace(/\\\\/g, '\\\\').replace(/'/g, \"''\") }}' AND source_message_id = {{ Math.floor(Number($json.body?.message_id ?? $json.message_id ?? 0)) || 0 }} AND status IN ('processing', 'pending_review')) AS is_duplicate","options":{}},"id":"check-dup","name":"Check duplicate","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[340,300]},{"parameters":{"jsCode":"const w = $('Webhook').first().json;\nconst dup = $('Check duplicate').first().json;\nconst body = w.body || {};\nreturn [{\n  json: {\n    body: body,\n    pdf_path: body.pdf_path ?? w.pdf_path ?? '',\n    message_id: body.message_id ?? w.message_id,\n    source_channel: body.source_channel ?? w.source_channel ?? '',\n    post_text: body.post_text ?? w.post_text ?? '',\n    is_duplicate: dup.is_duplicate\n  }\n}];"},"id":"build-merged-item","name":"Build merged item","type":"n8n-nodes-base.code","typeVersion":2,"position":[500,300]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"if-new","leftValue":"={{ $json.is_duplicate }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}},"id":"if-new-post","name":"IF new post","type":"n8n-nodes-base.if","typeVersion":2,"position":[560,300]},{"parameters":{"assignments":{"assignments":[{"id":"dup-ok","name":"ok","value":true,"type":"boolean"},{"id":"dup-skipped","name":"skipped","value":"duplicate","type":"string"}]},"options":{}},"id":"dup-response","name":"Duplicate response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,400]},{"parameters":{"operation":"executeQuery","query":"SELECT value FROM config WHERE key = 'openai_prompt'","options":{}},"id":"get-prompt","name":"Get Prompt","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[350,300]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"cond-pdf","leftValue":"={{ $('Webhook').first().json.body?.pdf_path ?? $('Webhook').first().json.pdf_path ?? '' }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}},"id":"if-has-pdf","name":"Has PDF","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,300]},{"parameters":{"filePath":"={{ (($('Webhook').first().json.body?.pdf_path ?? $('Webhook').first().json.pdf_path ?? '').toString()).startsWith('/data/pdfs') ? ($('Webhook').first().json.body?.pdf_path ?? $('Webhook').first().json.pdf_path ?? '') : '' }}","options":{}},"id":"read-pdf","name":"Read PDF","type":"n8n-nodes-base.readBinaryFile","typeVersion":1,"position":[680,200]},{"parameters":{"operation":"pdf","options":{}},"id":"extract-pdf","name":"Extract From PDF","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[900,200]},{"parameters":{"modelId":"gpt-4o-mini","messages":{"values":[{"content":"={{ $('Get Prompt').first().json.value ?? 'Напиши краткое саммари текста для публикации в канале. Сохраняй смысл, будь лаконичен.' }}\n\nТекст:\n{{ $('Extract From PDF').first().json.data?.text || $('Extract From PDF').first().json.text || '' }}","role":"user"}]},"options":{}},"id":"openai-pdf","name":"OpenAI PDF","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[1120,200]},{"parameters":{"assignments":{"assignments":[{"id":"source_channel","name":"source_channel","value":"={{ $('Webhook').first().json.body?.source_channel ?? $('Webhook').first().json.source_channel ?? '' }}","type":"string"},{"id":"source_message_id","name":"source_message_id","value":"={{ $('Webhook').first().json.body?.message_id ?? $('Webhook').first().json.message_id ?? 0 }}","type":"number"},{"id":"original_text","name":"original_text","value":"={{ ($('Webhook').first().json.body?.post_text ?? $('Webhook').first().json.post_text ?? '').replace(/\\x00/g, '') }}","type":"string"},{"id":"pdf_path","name":"pdf_path","value":"={{ $('Webhook').first().json.body?.pdf_path ?? $('Webhook').first().json.pdf_path ?? '' }}","type":"string"},{"id":"extracted_text","name":"extracted_text","value":"={{ ($('Extract From PDF').first().json.data?.text ?? $('Extract From PDF').first().json.text ?? '').replace(/\\x00/g, '') }}","type":"string"},{"id":"summary","name":"summary","value":"={{ ($('OpenAI PDF').first().json.message?.content ?? $('OpenAI PDF').first().json.text ?? '').replace(/\\x00/g, '') }}","type":"string"},{"id":"status","name":"status","value":"processing","type":"string"}]},"options":{}},"id":"set-row-pdf","name":"Set row for Postgres","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1340,200]},{"parameters":{"modelId":"gpt-4o-mini","messages":{"values":[{"content":"={{ $('Get Prompt').first().json.value ?? 'Напиши краткое саммари текста для публикации в канале. Сохраняй смысл, будь лаконичен.' }}\n\nТекст:\n{{ $json.body?.post_text ?? $json.post_text ?? '' }}","role":"user"}]},"options":{}},"id":"openai-text","name":"OpenAI Text Only","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[680,400]},{"parameters":{"assignments":{"assignments":[{"id":"source_channel","name":"source_channel","value":"={{ $('Webhook').first().json.body?.source_channel ?? $('Webhook').first().json.source_channel ?? '' }}","type":"string"},{"id":"source_message_id","name":"source_message_id","value":"={{ $('Webhook').first().json.body?.message_id ?? $('Webhook').first().json.message_id ?? 0 }}","type":"number"},{"id":"original_text","name":"original_text","value":"={{ ($('Webhook').first().json.body?.post_text ?? $('Webhook').first().json.post_text ?? '').replace(/\\x00/g, '') }}","type":"string"},{"id":"pdf_path","name":"pdf_path","value":"","type":"string"},{"id":"extracted_text","name":"extracted_text","value":"","type":"string"},{"id":"summary","name":"summary","value":"={{ ($('OpenAI Text Only').first().json.message?.content ?? $('OpenAI Text Only').first().json.text ?? '').replace(/\\x00/g, '') }}","type":"string"},{"id":"status","name":"status","value":"processing","type":"string"}]},"options":{}},"id":"set-row-text","name":"Set row Text Only","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,400]},{"parameters":{"operation":"executeQuery","query":"=INSERT INTO posts (source_channel, source_message_id, original_text, pdf_path, extracted_text, summary, status)\nVALUES (\n  '{{ ($json.source_channel ?? '').toString().replace(/\\x00/g, '').replace(/\\\\/g, '\\\\').replace(/'/g, \"''\") }}',\n  {{ Math.floor(Number($json.source_message_id)) || 0 }},\n  '{{ ($json.original_text ?? '').toString().replace(/\\x00/g, '').replace(/\\\\/g, '\\\\').replace(/'/g, \"''\") }}',\n  '{{ ($json.pdf_path ?? '').toString().replace(/\\x00/g, '').replace(/\\\\/g, '\\\\').replace(/'/g, \"''\") }}',\n  '{{ ($json.extracted_text ?? '').toString().replace(/\\x00/g, '').replace(/\\\\/g, '\\\\').replace(/'/g, \"''\") }}',\n  '{{ ($json.summary ?? '').toString().replace(/\\x00/g, '').replace(/\\\\/g, '\\\\').replace(/'/g, \"''\") }}',\n  'processing'\n)\nON CONFLICT (source_channel, source_message_id) DO UPDATE SET\n  original_text = EXCLUDED.original_text,\n  pdf_path = EXCLUDED.pdf_path,\n  extracted_text = EXCLUDED.extracted_text,\n  summary = EXCLUDED.summary,\n  status = EXCLUDED.status\nRETURNING *","options":{}},"id":"postgres","name":"Postgres INSERT RETURNING id","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1560,300]},{"parameters":{"method":"POST","url":"http://editor-bot:8080/incoming/post","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.EDITOR_BOT_WEBHOOK_TOKEN }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ post_id: $json.id, summary: $json.summary ?? '', pdf_path: $json.pdf_path ?? '', original_text: $json.original_text ?? '', source_channel: $json.source_channel ?? '', source_message_id: $json.source_message_id ?? 0 }) }}","options":{"timeout":300000}},"id":"http-bot","name":"Notify Editor Bot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1780,300],"retryOnFail":true,"maxTries":2,"waitBetweenTries":10000,"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"retry-attempt","name":"attempt","value":"={{ ($json.attempt ?? 0) + 1 }}","type":"number"}]},"options":{}},"id":"retry-attempt","name":"Retry Attempt","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1980,420]},{"parameters":{"conditions":{"options":{},"conditions":[{"id":"if-retry","leftValue":"={{ $json.attempt }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"}},"id":"if-retry","name":"IF Retry","type":"n8n-nodes-base.if","typeVersion":2,"position":[2180,420]},{"parameters":{"assignments":{"assignments":[{"id":"nfr-ok","name":"ok","value":false,"type":"boolean"},{"id":"nfr-err","name":"error","value":"notify_failed","type":"string"}]},"options":{}},"id":"notify-failed-resp","name":"Notify Failed Response","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2580,520]}],"connections":{"Webhook":{"main":[[{"node":"Check duplicate","type":"main","index":0}],[]]},"Check duplicate":{"main":[[{"node":"Build merged item","type":"main","index":0}]]},"Build merged item":{"main":[[{"node":"IF new post","type":"main","index":0}]]},"IF new post":{"main":[[{"node":"Get Prompt","type":"main","index":0},{"node":"Has PDF","type":"main","index":0}],[{"node":"Duplicate response","type":"main","index":0}]]},"Duplicate response":{"main":[[]]},"Has PDF":{"main":[[{"node":"Read PDF","type":"main","index":0}],[{"node":"OpenAI Text Only","type":"main","index":0}]]},"Read PDF":{"main":[[{"node":"Extract From PDF","type":"main","index":0}]]},"Extract From PDF":{"main":[[{"node":"OpenAI PDF","type":"main","index":0}]]},"OpenAI PDF":{"main":[[{"node":"Set row for Postgres","type":"main","index":0}]]},"Set row for Postgres":{"main":[[{"node":"Postgres INSERT RETURNING id","type":"main","index":0}]]},"OpenAI Text Only":{"main":[[{"node":"Set row Text Only","type":"main","index":0}]]},"Set row Text Only":{"main":[[{"node":"Postgres INSERT RETURNING id","type":"main","index":0}]]},"Postgres INSERT RETURNING id":{"main":[[{"node":"Notify Editor Bot","type":"main","index":0}]]},"Notify Editor Bot":{"main":[[],[{"node":"Retry Attempt","type":"main","index":0}]]},"Retry Attempt":{"main":[[{"node":"IF Retry","type":"main","index":0}]]},"IF Retry":{"main":[[{"node":"Notify Editor Bot","type":"main","index":0}],[{"node":"Notify Failed Response","type":"main","index":0}]]},"Notify Failed Response":{"main":[[]]}},"settings":{},"staticData":null,"tags":[],"triggerCount":0,"meta":{}}
